* {
  font-family: "Inter", serif;
}

body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  width: 100%;
}

.container {
  padding: 1%;
  max-width: 1860px;
  margin: 0 auto;
}

/* Header 영역 */
header {
  display: flex;
  border-bottom: 2px solid rgba(228, 216, 176, 0.2);
  justify-content: space-around;
  width: 1860px;
  /* width: 100%; */
  height: 89px;
  color: #fff;
  position: absolute;
  z-index: 999;
}

.header__gnb {
  display: flex;
  align-items: center;
  /* margin-left: 14%; */
}
.header__gnb__menu {
  list-style: none;
  display: flex;
  & li {
    margin-right: 30px;
    font-size: 0.901em;
    cursor: pointer;
  }
  & li:hover {
    color: rgba(235, 102, 43, 1);
  }
  & li:last-child {
    margin-right: 0px;
  }
}
.header__login {
  display: flex;
  align-items: center;
  /* margin-right: 16%; */
}
.header__login__menu {
  list-style: none;
  display: flex;
  & li {
    margin-right: 30px;
    font-size: 0.901em;
    cursor: pointer;
  }
  & li:last-child {
    margin-right: 0px;
  }
  & button {
    width: 80px;
    padding: 8px;
    border: none;
    background-color: transparent;
    font-size: 0.894em;
    color: #fff;
    cursor: pointer;
  }
  & button:hover {
    color: rgba(235, 102, 43, 1);
  }
}
.header__login__menu-loginBtn {
  border: 1px solid #fff !important;
  border-radius: 50px;
}
.header__login__menu-loginBtn:hover {
  border: 1px solid rgba(235, 102, 43, 1) !important;
}

/* Banner 영역 */
.banner {
  position: relative;
  /* width: 1860px; */
  width: 100%;
  height: 90%;
  z-index: 888;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner__back {
  object-fit: cover;
}
.banner__contents {
  position: absolute;
  color: #fff;
  top: 30%;
  left: 10%;
  width: 42%;
  height: 70%;

  max-height: 360px;
  & h3 {
    font-size: 1.09em;
    font-weight: 500;
  }
  & h1 {
    font-size: 4.375em;
    font-weight: 600;
    margin: 0px;
  }
  & p {
    font-size: 0.916em;
    font-weight: 400;
  }
  & button {
    width: 20%;
    height: 46px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
  }
  & button:hover {
    color: rgba(235, 102, 43, 1);
    border: 1px solid rgba(235, 102, 43, 1);
  }
}
.banner__inner {
  position: absolute;
  right: 10%;
  width: 25%;
  object-fit: cover;
}

/* Trending Destinations 영역 */
.trending {
  /* width: 1320px; */
  width: 70.96%;
  /* height: 444px; */
  height: 5.94%;
  margin: auto;
  margin-top: 145px;
  padding: 5px 15px 5px 15px;
}
.trending__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(5, 7, 60, 1);
  & p {
    font-size: 1.868em;
    font-weight: 700;
    margin: 0px;
  }
  & span {
    display: block;
    font-size: 0.894em;
    font-weight: 400;
  }
}
.trending__cards {
  margin-top: 40px;
  /* height: 355px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.trending__cards__content {
  width: 300px;
  height: 152px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(231, 230, 230, 1);
  border-radius: 20px;
  margin-bottom: 40px;
  & img {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
.trending__cards__content:nth-child(7),
.trending__cards__content:nth-child(8) {
  margin-bottom: 0px;
}
.trending__cards__content__desc {
  & p {
    font-size: 1.073em;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 0px;
  }
  & span {
    font-size: 0.827em;
    font-weight: 400;
  }
}

/* Featured Trips 영역 */
.featured {
  /* width: 1576px; */
  width: 84.73%;
  height: 580px;
  float: right;
  margin-top: 145px;
  margin-bottom: 145px;
  padding: 5px 15px 5px 15px;
}
.featured__title {
  color: rgba(5, 7, 60, 1);
  font-size: 1.875em;
  font-weight: 700;
  margin: 0px;
}
.featured__cards {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.featured__cards__card {
  /* position: absolute;
  height: 450px;
  display: flex; */
}

.featured__cards__card__day {
  position: relative;
  top: -420px;
  left: 50px;
  color: #fff;
  width: 40px;
  font-size: 0.787em;
}
.featured__cards__card__desc {
  position: relative;
  width: 280px;
  bottom: 170px;
  left: 30px;
  color: #fff;
  & span {
    font-size: 0.768em;
  }
  & p {
    font-size: 1.116em;
  }
}
.featured__cards__card__price {
  position: relative;
  bottom: 190px;
  left: 320px;
  color: #fff;
  text-align: right;
  width: 64px;
  & span {
    font-size: 0.806em;
  }
  & p {
    margin: 0px;
    font-size: 1.019em;
  }
}

/* Tourz 영역 */
.tourz {
  width: 100%;
  height: 817px;
  clear: both;
  position: relative;
}
.tourz__inner {
  width: 1270px;
  height: 817px;
  border-radius: 24px;
  background-color: rgba(235, 102, 43, 0.05);
  float: right;
}

.tourz__inner__img {
  margin: 0px;
  float: left;
  position: absolute;
  margin: 53px 0px;
}
.tourz__contents {
  z-index: 999;
  width: 1200px;
  height: 440px;
  padding: 20px;
  color: rgba(5, 7, 60, 1);
  position: absolute;
  top: 170px;
  left: 460px;
}
.tourz__contents__title {
  text-align: center;
  margin-bottom: 80px;
  & p {
    font-size: 1.831em;
    font-weight: 700;
    margin: 0px;
  }
  & span {
    font-size: 0.923em;
  }
}
.tourz__contents__cards {
  display: flex;
  justify-content: space-around;
}
.tourz__contents__cards__card {
  width: 260px;
  height: 200px;
  padding: 40px;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.tourz__contents__cards__card__des {
  width: 230px;
  & p {
    font-size: 1.108em;
    font-weight: 500;
  }
  & span {
    font-size: 0.923em;
  }
}

/* popular things to do 영역 */
.popular {
  /* width: 1320px; */
  width: 70.96%;
  height: 5.94%;
  /* height: 305px; */
  margin: auto;
  margin-top: 145px;
  padding: 5px 15px 5px 15px;
  color: rgba(5, 7, 60, 1);
}
.popular__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & p {
    font-size: 1.868em;
    font-weight: 700;
    margin: 0px;
    letter-spacing: 0.2px;
  }
  & span {
    display: block;
    font-size: 0.894em;
    font-weight: 400;
  }
}
.popular__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.popular__cards__card {
  position: relative;
}
.popular__cards__card__desc {
  position: absolute;
  color: #fff;
  bottom: 20px;
  left: 50px;
  text-align: center;
  & p {
    font-size: 1.099em;
    font-weight: 500;
    margin: 0px;
  }
  & span {
    font-size: 0.827em;
    font-weight: 400;
  }
}
.popular__cards__card:nth-child(2) {
  .popular__cards__card__desc {
    left: 40px;
  }
}
.popular__cards__card:nth-child(5) {
  .popular__cards__card__desc {
    left: 44px;
  }
}

/* Our Footprints 영역 */
.footprints {
  width: 100%;
  height: 594px;
  margin-top: 145px;
  margin-bottom: 145px;
  background-color: rgba(235, 102, 43, 0.05);
  border-radius: 24px;
  color: rgba(5, 7, 60, 1);
  position: relative;
}
.footprints__contents {
  /* width: 1320px; */
  width: 70.96%;
  height: 354px;
  text-align: center;
  position: absolute;
  top: 22%;
  left: 15%;
  & p {
    font-size: 1.875em;
    font-weight: 700;
  }
}
.footprints__contents__items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 90px;
}
.footprints__contents__items__item {
  /* width: 135px; */
  width: 12.22%;
  height: 151px;
  & p {
    font-size: 2.354em;
    font-weight: 700;
    margin: 0px;
    margin-bottom: 10px;
  }
  & span {
    font-size: 0.916em;
    font-weight: 400;
  }
}

/* Best of New York 영역 */
.best {
  width: 70.96%;
  height: 6.6%;
  /* height: 496px; */
  margin: auto;
  padding: 5px 15px 5px 15px;
  color: rgba(5, 7, 60, 1);
}
.best__title {
  font-size: 1.861em;
  font-weight: 700;
  display: flex;
  .color-change {
    color: rgba(198, 198, 210, 1);
  }
}
.best__cards {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  flex-wrap: wrap;
}
.best__cards__card {
  width: 300px;
  height: 408px;
  border: 1px solid #ddd;
  border-radius: 12px;
}
.best__cards__card__img {
  width: 300px;
  height: 212px;
  & img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
  }
}
.best__cards__card__desc {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  /* border: 1px solid rebeccapurple; */
  & p {
    font-size: 0.977em;
    font-weight: 500;
    height: 64px;
  }
  & hr {
    background: rgba(231, 230, 230, 1);
    height: 1px;
    border: 0;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  & span:nth-child(1) {
    font-size: 0.749em;
    color: rgba(113, 113, 113, 1);
  }
  & span:nth-child(4) {
    font-size: 0.787em;
  }
  & span:nth-child(5) {
    font-size: 0.813em;
    margin-left: 155px;
  }
  & span:nth-child(6) {
    font-size: 0.946em;
    font-weight: 500;
    float: right;
  }
}

/* What our Travelers are saying 영역 */
.saying {
  width: 100%;
  height: 774px;
  background-color: rgba(5, 7, 60, 1);
  border-radius: 24px;
  margin-top: 145px;
  color: #fff;
}
.saying__inner {
  width: 1320px;
  height: 609px;
  margin: auto;
  position: relative;
  top: 88px;
}
.saying__inner__contents {
  height: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.saying__inner__contents__desc {
  width: 550px;
  height: 281px;
  position: absolute;
  left: 40px;

  & p {
    font-size: 1.861em;
    font-weight: 700;
    width: 277px;
    height: 84px;
  }
}
.saying__inner__contents__desc__review {
  display: flex;
  flex-wrap: wrap;
}
.saying__inner__contents__desc__review__text {
  width: 280px;
  height: 161px;
  & p {
    font-size: 2.412em;
    font-weight: 700;
    margin: 0px;
  }
  & span {
    font-size: 0.901em;
  }
}
.saying__inner__contents__card {
  width: 410px;
  height: 230px;
  background-color: #fff;
  border-radius: 24px;
  padding: 50px 40px 50px 40px;
  color: rgba(5, 7, 60, 1);
  position: absolute;
  right: 40px;
  z-index: 999;
  & p {
    color: rgba(235, 102, 43, 1);
    font-size: 1.116em;
    font-weight: 500;
  }
  & span {
    font-size: 0.93em;
    font-weight: 500;
  }
  & hr {
    margin: 25px 0px;
    background: rgba(231, 230, 230, 1);
    height: 2px;
    border: 0;
  }
}
.saying__inner__contents__card__script {
  position: relative;
  & img {
    position: absolute;
    top: -10px;
    right: -10px;
  }
}
.saying__inner__contents__card__info {
  display: flex;
  align-items: center;
}
.saying__inner__contents__card__info__profile {
  margin-left: 20px;
  & span {
    display: block;
  }
  & span:nth-child(1) {
    font-size: 0.977em;
    font-weight: 500;
    margin-bottom: 5px;
  }
  & span:nth-child(2) {
    font-size: 0.916em;
    font-weight: 400;
  }
}
.saying__inner__brand {
  width: 100%;
  position: absolute;
  bottom: 0px;
  text-align: center;
  & span {
    font-size: 0.908em;
  }
  & ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
  }
}

/* rotated card */
.saying__inner__contents__rotated1 {
  width: 380px;
  height: 200px;
  border-radius: 24px;
  padding: 50px 40px 50px 40px;
  position: absolute;
  background-color: #ddd;
  transform: rotate(3deg);
  right: 20px;
  top: 15px;
  z-index: 888;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.saying__inner__contents__rotated2 {
  width: 340px;
  height: 180px;
  border-radius: 24px;
  padding: 50px 40px 50px 40px;
  position: absolute;
  background-color: #ddd;
  transform: rotate(4deg);
  right: 5px;
  top: 30px;
  z-index: 777;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.saying__inner__contents__rotated3 {
  width: 340px;
  height: 160px;
  border-radius: 24px;
  padding: 50px 40px 50px 40px;
  position: absolute;
  background-color: #ddd;
  transform: rotate(6deg);
  right: -7px;
  top: 40px;
  z-index: 666;
}

/* Travel Articles 영역 */
.travel {
  /* width: 1320px; */
  width: 70.96%;
  height: 510px;
  margin: auto;
  margin-top: 145px;
  padding: 5px 15px 5px 15px;
  color: rgba(5, 7, 60, 1);
}
.travel__tilte {
  display: flex;
  align-items: center;
  justify-content: space-between;
  & p {
    font-size: 1.853em;
    font-weight: 700;
    margin: 0px;
  }
  & span {
    font-size: 0.894em;
    font-weight: 400;
  }
}
.travel__cards__card__img {
  position: relative;
}
.travel__cards__card__category {
  background-color: #fff;
  border-radius: 200px;
  width: 62px;
  height: 36px;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 0.848em;
  align-content: center;
}
.travel__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}
.travel__cards__card {
  width: 410px;
  height: 422px;
}
.travel__cards__card__desc {
  margin-top: 20px;
  & p {
    font-size: 1.081em;
    font-weight: 500;
  }
}
.travel__cards__card__desc__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  & span {
    font-size: 0.868em;
    font-weight: 400;
  }
  & hr {
    background: rgba(231, 230, 230, 1);
    height: 1px;
    width: 15px;
    border: 0;
    transform: rotate(90deg);
    margin: 0px 10px 0px 10px;
  }
}

/* footer 영역 */
.footer {
  margin-top: 145px;
  width: 100%;
  height: 655px;
  border-radius: 24px;
  color: rgba(5, 7, 60, 1);
  background-color: rgba(235, 102, 43, 0.05);
}
.footer__inner {
  /* width: 1320px; */
  width: 70.96%;
  height: 100%;
  margin: auto;
}
.footer__inner__upper {
  width: 1290px;
  height: 185px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  border-bottom: 2px solid rgba(235, 102, 43, 0.15);
  & span:nth-child(1) {
    font-size: 1.231em;
    font-weight: 500;
  }
  .color-change2 {
    display: inline;
    color: rgba(235, 102, 43, 1);
  }
  & span:nth-child(2) {
    font-size: 1.013em;
    font-weight: 500;
  }
}
.footer__inner__lower {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
  & p {
    font-size: 1.25em;
    font-weight: 500;
  }
}
.footer__inner__lower__contact {
  width: 400px;
  height: 390px;
  padding: 3px 15px;
  & p:nth-child(2),
  p:nth-child(3) {
    font-size: 0.901em;
    font-weight: 400;
  }
}
.footer__inner__lower__company {
  height: 390px;
  width: 128px;
  padding: 3px 15px;
  & ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
  }
  & li {
    margin-bottom: 20px;
    font-size: 0.916em;
    font-weight: 500;
  }
}
.footer__inner__lower__support {
  height: 390px;
  width: 128px;
  padding: 3px 15px;
  & ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
  }
  & li {
    margin-bottom: 20px;
    font-size: 0.923em;
    font-weight: 500;
  }
}
.footer__inner__lower__news__apps {
  height: 390px;
  width: 330px;
  padding: 3px 15px;
}
.footer__inner__lower__news {
  & p:nth-child(2) {
    font-size: 0.916em;
    font-weight: 400;
    width: 287px;
  }
  & span {
    font-size: 0.908em;
    position: relative;
    right: -280px;
    top: -42px;
  }
  & input {
    width: 300px;
    height: 60px;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 0 20px;
  }
}
.footer__inner__lower__apps {
  margin-top: 26px;
  & ul {
    list-style: none;
  }
  & li {
    margin-bottom: 20px;
    font-size: 0.938em;
    font-weight: 400;
  }
}

.copyright {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
  color: rgba(5, 7, 60, 1);
  & p {
    font-size: 0.908em;
    font-weight: 400;
    margin: 0px;
  }
  & ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
  }
}
