@media screen and (min-width: 1024px) {
  .container {
    max-width: 1860px;
  }
}
/* 태블릿 */
@media screen and (min-width: 768px) and (max-width: 1025px) {
  .container {
    max-width: 990px;
  }

  /* banner 영역 */
  .banner {
    width: 100%;
  }
  .banner__back {
    height: 90vh;
    object-fit: cover;
    border-radius: 12px;
  }
  .banner__contents {
    width: 40%;
    left: 10%;
    & h3 {
      font-size: 0.95em;
    }
    & h1 {
      font-size: 3.125em;
    }
    & p {
      font-size: 0.813em;
    }
    & button {
      width: 100px;
      height: 50px;
      font-size: 0.75em;
    }
  }
  .banner__inner {
    width: 300px;
    right: 10%;
  }

  /* trending 영역 */
  .trending {
    width: 70%;
    height: 820px;
  }
  .trending__title {
    & p {
      font-size: 1.663em;
    }
  }
  .trending__card {
    margin-bottom: 40px;
  }
  .trending__card:nth-child(7),
  .trending__card:nth-child(78) {
    margin-bottom: 0px;
  }

  /* featured 영역 */
  .featured {
    width: 83%;
  }
  .featured__title {
    font-size: 1.663em;
  }

  /* tourz 영역 */
  .tourz {
    width: 100%;
    height: 717px;
  }
  .tourz__inner {
    width: 70%;
    height: 100%;
  }
  .tourz__inner-img {
    width: 50%;
    margin: 106px 0px;
  }
  .tourz__contents {
    width: 72%;
    left: 180px;
    height: 320px;
  }
  .tourz__contents-title {
    & p {
      font-size: 1.663em;
    }
    & span {
      font-size: 0.85em;
    }
  }
  .tourz__contents-cards {
    justify-content: space-between;
  }
  .tourz__contents-card {
    width: 180px;
    height: 140px;
    padding: 20px;
    & img {
      width: 40px;
      height: 40px;
      object-fit: cover;
    }
  }
  .tourz__contents-card-des {
    width: 160px;
    & p {
      font-size: 0.85em;
    }
    & span {
      font-size: 0.725em;
    }
  }

  /* popular 영역 */
  .popular {
    width: 70%;
    height: 565px;
  }
  .popular__card {
    margin-bottom: 40px;
  }
  .popular__card:nth-child(4),
  .popular__card:nth-child(5),
  .popular__card:nth-child(6) {
    margin-bottom: 0px;
  }

  /* footprints */
  .footprints__contents {
    width: 72%;
    & p {
      font-size: 1.663em;
    }
  }

  .footprints__contents-item {
    & p {
      font-size: 2.088em;
    }
  }

  /* best 영역 */
  .best {
    width: 70%;
    height: 930px;
  }
  .best__title {
    font-size: 1.663em;
  }
  .best__card:nth-child(1),
  .best__card:nth-child(2) {
    margin-bottom: 40px;
  }

  .saying__inner {
    width: 90%;
  }
  .saying__inner-contents-desc {
    width: 40%;
    left: 0;
    & p {
      font-size: 1.663em;
    }
  }
  .saying__inner-contents-desc-review-text {
    width: 230px;
    height: 140px;
    & p {
      margin: 0px;
    }
  }
  .saying__inner-contents-card {
    width: 30%;
  }
  .saying__inner-brand {
    & ul {
      justify-content: space-between;
    }
  }
}
/* 모바일 */
@media screen and (max-width: 767px) {
}
